[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# Charset #
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# Cache and Limits #
max-connections = 10
interactive_timeout = 300
wait-timeout = 300

# Logging #
general-log = true
general-log-file = /var/log/mysql/query.log
log-error = /var/log/mysql/error.log
log-queries-not-using-indexes = true
slow-query-log = true
slow-query-log-file = /var/log/mysql/slow-query.log
long-query-time = 2
